<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <!--    <link rel="stylesheet" href="css/semantic.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">

</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment ">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui header teal item">ZhouChb</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right item m-item m-mobile-hide"><!--style="margin-right: 50px !important;"-->
                <div class="ui icon input">
                    <input type="text" placeholder="搜索" style="width: 260px">
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="item mini m-padded-tb-mini m-item  m-mobile-hide"></div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show ">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--=========================中间内容==============================-->
<div class="m-padded-tb-larges m-container-large ">
<div class="ui container">
    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui segment">
                <img src="../static/images/caise.jpg" th:src="@{/images/caise.jpg}" alt="" class="ui rounded image">
            </div>
        </div>
        <div class="five wide column">
            <div class="ui top attached segment">
               <div class="ui header">关于我</div>
            </div>
            <div class="ui attached segment">
                <p>周纯彬，一个帅小伙，希望结识可以共同成长的小伙伴</p>
                <p>喜欢编程，喜欢电影、音乐，喜欢玩王者荣耀...</p>
            </div>
            <div class="ui attached segment">
                <div class="ui orange basic label m-margin-tb-tiny animate__animated animate__zoomIn animate__faster">编程</div>
                <div class="ui orange basic label m-margin-tb-tiny animate__animated animate__zoomIn animate__fast">吃零食</div>
                <div class="ui orange basic label m-margin-tb-tiny animate__animated animate__zoomIn animate__fast">小说</div>
                <div class="ui orange basic label m-margin-tb-tiny animate__animated animate__zoomIn animate__fast">王者</div>
            </div>
            <div class="ui attached segment ">
                <dvi class="ui teal tag label  m-margin-tb-small m-font-size-small animate__animated animate__fadeInRight animate__fast">Java</dvi>
                <dvi class="ui blue tag label  m-margin-tb-small m-font-size-small animate__animated animate__fadeInRight animate__fast">Mysql</dvi>
                <dvi class="ui olive tag label  m-margin-tb-small m-font-size-small animate__animated animate__fadeInRight animate__fast">Nacos</dvi>
                <dvi class="ui orange tag label  m-margin-tb-small m-font-size-small animate__animated animate__fadeInRight animate__fast">springboot</dvi>
                <dvi class="ui green tag label  m-margin-tb-small m-font-size-small animate__animated animate__fadeInRight animate__fast">Mybatis</dvi>
                <dvi class="ui brown tag label  m-margin-tb-small m-font-size-small animate__animated animate__fadeInRight animate__fast">...</dvi>
            </div>
            <div class="ui center aligned bottom attached segment m-padded-tb-small">
                <a href="https://github.com/zhouchb?tab=repositories" class="ui circular icon button m-margin-right"><i class="icon github "></i></a>
                <a href="#" class="ui wechat circular icon button m-margin-right"><i class="icon weixin"></i></a>
                <a href="#" class="ui qq circular icon button" data-content="2251073096"><i class="icon qq"></i></a>
            </div>
            <!--微信弹出的图片-->
            <div class="ui wechat-qr flowing popup transition hidded">
                <img src="../static/images/meWechat.jpg" th:src="@{/images/meWechat.jpg}" class="ui rounded image" alt="" style="width: 110px"/>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>
<br>
<!--========================底部footer===============================-->
<!---->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-big">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/meWechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header  m-font-spaced" style="font-weight: normal">最新博客</h4>
                <div class="ui inverted link list m-font-thin">
                    <a href="#" class="item">笔记01</a>
                    <a href="#" class="item">笔记01</a>
                    <a href="#" class="item">笔记01</a>
                </div>
            </div>

            <div class="five wide column">
                <h4 class="ui inverted header" style="font-weight: normal">Blog介绍</h4>
                <p class="m-font-thin m-font-spaced m-opacity-mini ">修炼一途，乃窃阴阳，夺造化，转涅槃，握生死，掌轮回。 武之极，破苍穹，动乾坤！</p>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header  m-font-spaced" style="font-weight: normal">联系我</h4>
                <div class="ui inverted  list" style="text-align: left;margin-left: 30px">
                    <div class="item">
                        <img src="../static/images/qq.png" style="width: 20px">
                        <span class="m-font-thin m-opacity-mini"
                              style="font-size: 14px">&nbsp;&nbsp;QQ：2251073096</span>
                    </div>
                    <div class="item">
                        <img src="../static/images/email.png" style="width: 18px">
                        <span class="m-opacity-mini" style="font-size: 14px">&nbsp;&nbsp;Eamil：2251073096@qq.com</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-font-thin m-font-spaced m-opacity-tiny" style="font-size: 13px">Copyright © 2021 - 2022 ZhouChB All
            Rights Reserved V.1.0</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"/>-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
<!--<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>-->
<script src="../static/js/my.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
<!--/*/</th:block>/*/-->
</body>
</html>